@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');



body {
    padding: 60px 20px 80px 20px ;
}

::-webkit-scrollbar {
  display: none;
}



@media screen and (min-width: 768px) and (min-height: 900px) {
    html {
      font-size: 18px;
    }
  }
  
    @media screen and (min-width: 800px) and (min-height: 1050px) {
      html {
        font-size: 20px;
      }

      body {
        padding: 0 20px 40px 20px ;
    }
  }
  
  @media screen and (min-width: 1200px) and (min-height: 650px) {
    body {
      padding: 0 20px 40px 20px ;
      padding-left: 100px ;
    }
    
    .DivBr {
        display: inline-block;
        width: 40%;

    }
}

/*
## Colors

### Primary

- Red: hsl(0, 100%, 74%)
- Green: hsl(154, 59%, 51%)

### Accent

- Blue: hsl(248, 32%, 49%)

### Neutral

- Dark Blue: hsl(249, 10%, 26%) 
- Grayish Blue: hsl(246, 25%, 77%)


## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 400, 500, 600, 700
*/