@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.DivTitle {
    text-align: center;
    width: 100%;

        h1 {
            color: white;
            width: 100%;
            max-width: 320px;
            margin: 0 auto;
            font-size: 1.8rem;
        }

        p {
            color: white;
            width: 100%;
            max-width: 450px;
            margin: 0 auto;
            margin-top: 30px;
            font-size: 1rem;
        }
}

@media screen and (min-width: 1200px) and (min-height: 650px) {
    .DivTitle {
        box-sizing: border-box;
        display: inline-block;
        width: 50%;
        padding-inline: 30px;
        text-align: initial;
        margin-right: 30px;
        position: relative;
        top: 30%;
        transform: translateY(-70%); 

            h1 {
                margin: initial;
                font-size: 2.3rem;
            }
            
            p {
                margin: initial;
                margin-top: 30px;
                max-width: initial;
                font-size: 1.2rem;

            }
    }
}